#!/bin/sh

/bin/mkdir -p /root/.ssh;
/bin/sh -c "echo 'ssh-rsa SOME_PUBLIC_KEY bootstrap' >> /root/.ssh/authorized_keys";
chmod 600 /root/.ssh/authorized_keys;

rm -rf /etc/netplan/*

# We're going to assign things based on MAC so that we don't have to care about how interfaces were named.
# We could also rename interfaces with udev rules, or indirectly with netplan.

cat <<ENDNETPLAN > /etc/netplan/netplan-cfg.yml
network:
    ethernets:
{% for interface in machine.Network %}
{% if "waitron_primary" in interface.Tags %}
        # {{interface.Name}}
        primary:
            match:
              macaddress: {{ job.TriggerMacRaw }}
            addresses:
{% for ipconfig in interface.Addresses4 %}            
                - {{ ipconfig.IPAddress}}/{{ipconfig.Cidr}}
{% endfor %}
{% for ipconfig in interface.Addresses6 %}            
                - {{ ipconfig.IPAddress}}/{{ipconfig.Cidr}}
{% endfor %}
            dhcp4: false
            dhcp6: false
            accept-ra: false
            gateway4: {{interface.Gateway4}}
            gateway6: {{interface.Gateway6}}
            nameservers:
                addresses:
                - 8.8.8.8
                - 8.8.4.4
                - 2001:4860:4860::8888
                search:
                - example.com
    renderer: networkd
    version: 2
{% endif %}
{% endfor %}
ENDNETPLAN

cat <<FINALTRIGGER > /etc/rc.local
#!/bin/sh

rm -f /etc/rc.local

wget -O /dev/null -q '{{machine.BaseURL}}/done/{{machine.Hostname}}/{{job.Token}}';

FINALTRIGGER

chmod 0755 /etc/rc.local
